  .table {
    min-width: 100%;
  }
  .topButtons{
    
  }
  .filterConteiner{
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .filterConteiner li{
      position: relative;
      float: left;
      display: inline-block;
      list-style: none;
      width: 200px;
      height: 1px;
      left: 0;
      top: 60px;
  }
  .tableFilters{
    position: absolute;
    border: 1px gray solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 999;
    width: 300px;
    display: block;
  }
  
  .tableFilters div h3{
    padding-left: 10px;
    text-align: right;
  }
  .pagination {
    display: inline-block;
  }
  .pagination li{
    display: inline-block;
    float: left;
    list-style: none;
    padding: 5px 5px;
    border: 1px solid #ddd; /* Gray */
  }
  .pagination li .sr-only{display: none;}
  .pagination li a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
  }
  .pagination li:hover{
    color: #5e5669;
  }
  .pagination li.active {
    background-color: #8265aa;
    color: white;
  }
  .pagination li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  $ease-out: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  $to-do: #f4ce46;
  $in-progress: #2a92bf;
  
  * {
    box-sizing: border-box;
  }
  
  .drag-container {
    width: 100%;
    margin: 20px auto;
  }
  
  .drag-list {
    list-style: none;
    display: block;
    align-items: flex-start;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
  
    @media (width: 100%) {
      display: block;
    }
  }
  
  .drag-column {
    flex: 1;
    margin: 0 10px;
    position: relative;
    background: rgba(#4A9FF9, 0.2);
    overflow: hidden;
    float:left;
    width: 45%;
    min-height: 100px;
    padding: 0 0 40px;
  
    @media (width: 50%) {
      margin-bottom: 30px;
    }
  
    h2 {
      font-size: 0.8rem;
      margin: 0;
      text-transform: uppercase;
      font-weight: 600;
    }
  
    &-to-do {
      .drag-column-header,
      .drag-options {
        background: $to-do;
      }
    }
  
    &-in-progress {
      .drag-column-header,
      .drag-options {
        background: $in-progress;
      }
    }
  }
  
  .drag-column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    user-select: none;
  }
  
  .drag-inner-list {
    overflow: auto;
    min-height: 30px;
  }
  
  .drag-item {
    margin: 10px;
    width: 90%;
    height: 40px;
    background: rgba(black, 0.4);
    transition: $ease-out;
    background: #fff;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    padding-left: 15px;
    list-style: none;
  
    /* items grabbed state */
    &[aria-grabbed="true"] {
      background: #5cc1a6;
      color: #fff;
    }
  
    .drag-item-text {
      font-size: 1rem;
      padding-left: 5px;
      padding-top: 5px;
    }
  }
  
  .drag-header-more {
    cursor: pointer;
  }
  
  @keyframes nodeInserted {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 0.8;
    }
  }
  
  .item-dropzone-area {
    height: 30px;
    background: #888;
    opacity: 0.8;
    animation-duration: 0.5s;
    animation-name: nodeInserted;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
